@{
    ViewData["Title"] = "Home Page";
}
<main id="screen">
    <div id="container">
        <div id="logger">
            <div id="wrapper"></div>
        </div>
        <div id="input">
            <p id="inputTitle"></p>
            <input type="command" name="" id="inputSource" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" autofocus>
        </div>
    </div>
    </main>

    <script src="~/js/script.js"></script>
    <script src="~/js/commands.js"></script>